img {
  /* height: 1em; */
  width: auto;
  display: inline-block;
}

img.startingBlur {
  filter: blur(60px);
}

.unBlur {
  transition: filter 120s ease-out;
}

.unBlurQuick {
  filter: blur(0px);
  transition: filter 3s;
}

img.blur {
  filter: blur(60px)
}

body {
  background-color: #594F4F;
  color: white;
  text-align: center;
}

div.timer {
  text-align: center;
  margin: 1em;
  color: white;
  font-family: "Segoe UI";
  font-size: xx-large;
}

/* Modify the navbar style */
#navbar-custom {
  background-color: #547980;
}

#dropdownMenuButton {
  background-color: #547980;
  padding-left: 30px;
  padding-right: 30px;
  color: #E5FCC2;
  font-family: Bodoni MT;
  font-size: 25px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.nav-item.nav-link {
  color: #E5FCC2;
  font-family: Bodoni MT;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  color: #E5FCC2;
  font-family: Bodoni MT;
  font-size: 25px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

#Blurgo {
  font-family: Bodoni MT;
  font-size: 60px;
  font-weight: 900;
  padding-left: 17.5%;
}

#Blurgo:hover,
#profile:hover,
#info:hover,
#Scoreboard:hover,
#dropdownMenuButton:hover {
  opacity: 0.5;
}

#navLinks {
  justify-content: flex-end;
}

input.guessBox {
  height: 70px;
  width: 800px
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  padding: 30px 30px 30px 30px;
}

.correct,
.incorrect {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.guessBox {
  text-align: center;
  font-size: 48px;
  top: 600px;
  padding: 30px 30px 30px 30px;
}

.buttonGuess {
  padding: 15px 15px 15px 15px;
}

.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

#app {
  position: absolute;
  top: 85px;
  right: 16px;
  font-size: 16px;

}

.modal.readyModal {
  background-color: #547980;

}

.footer {
  background-color: #547980;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.blurgo {
  color: #E5FCC2;
  text-align: left;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../static/fonts/segoe-ui-4-cufonfonts/Segoe UI.ttf");
}

.modalTop {
  background-color: #547980;
  color: white;
  font-size: x-large;
}

.modal-body {
  background-color: #594F4F;
  color: white;
  font-family: "Segoe UI";
  font-size: larger;
  text-align: left;
}

.scoreboard-table {
  background-color: #594F4F;
  color: white;
  font-family: "Segoe UI";
  font-size: medium;
}

#info {
  background-color: transparent;
  border: none;
}

.profilePage,
.registrationPage,
.loginPage {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

#registerButton {
  position: absolute;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 5%;
}