div.header {
    background-color: lightgreen;
    padding: 5px;
}

img.startingBlur {
    filter: blur(60px);
}
.unBlur{  
    transition: filter 20s ease-out; 
}

img.blur{
    filter: blur(60px)
}

body{
    background-color: antiquewhite;
}
.footer{
    background-color: #547980;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}