{% extends "base.html" %}

{% block content %}
    
    <!-- Ready Modal -->
    <div class="modal hide fade readyModal" id="readyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Ready to Blurgo?</h5>
                </div>
                
                <div class="modal-body">
                    Click "Start!" when you are ready to play.
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="location.href = '/index'">I'm not ready, take me back!</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jsonImage(), unblurStart()">Start!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <img id="imgID" class="startingBlur" draggable="false" src="" height="300px" width="300px" oncontextmenu="return false;"></img>
        <p id="demo"></p>
    </div>

    <div class="center"> 
        <input type="text" id="userGuess" class="guessBox" name="guess" placeholder="Guess Goes Here">
        <button onclick="guessCompare()">Submit</button>
    </div>

    <div id="superdiv">

    </div>
    <div id="app">
    
    </div>
    <script src="{{ url_for('static', filename='blur.js') }}"></script>
    {% endblock %}
