{% extends "base.html" %}

{% block content %}

<!-- Ready Modal -->
<div class="modal hide fade readyModal" id="readyModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="label">Ready to Blurgo?</h5>
            </div>
            <div class="modal-body">
                Time until next Blurgo:
                <div class="timer" id="nextDayTimer">
                    <script>
                        var date = new Date();
                        var second = date.getSeconds();
                        var minute = date.getMinutes();
                        var hour = date.getHours();
                        var day = date.getDay();
                        var month = date.getMonth();
                        var year = date.getFullYear();

                        var leftHour = 23 - hour;
                        var leftMinute = 59 - minute;
                        var leftSeconds = 59 - second;

                        var leftTime = (leftHour * 3600) + (leftMinute * 60) + leftSeconds;
                        var timer = document.getElementById('nextDayTimer');

                        setInterval(updateTimer, 1000);

                        function updateTimer() {
                            var h = Math.floor(leftTime / 3600);
                            var m = Math.floor((leftTime - (h * 3600)) / 60);
                            var s = Math.floor(leftTime % 60);
                            timer.innerHTML =  h + " : " + m + " : " + s;
                            leftTime--;
                        }
                    </script>
                </div>
            </div>
            <div class="modal-body">
                Click "Start!" when you are ready to play.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="location.href = '/index'">I'm not ready, take
                    me back!</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="jsonImage(), unblurStart()">Start!</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="results-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Statistics</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Results</h6>
                <div>Win %</div>
                <div>Guesses</div>
                <div>Time</div>
                <div>Score</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="center">
    <img id="imgID" class="startingBlur" draggable="false" src="" height="300px" width="300px"
        oncontextmenu="return false;"></img>
    <p id="demo"></p>
</div>

<div class="center">
    <input type="text" id="userGuess" class="guessBox" name="guess" placeholder="Guess Goes Here">
    <div class="buttonGuess">
        <button class="btn btn-lg btn-primary" id="submitButton" onclick="guessCompare()">Submit</button>
    </div>
    <button id="submit" type="submit" onclick="guessCompare()" onkeypress="guessCompare()" hidden>Submit</button>

</div>
<button id="submit" type="submit" onclick="guessCompare()" onkeypress="guessCompare()" hidden>Submit</button>

<div id="superdiv">

</div>
<div id="app">

</div>
<script src="{{ url_for('static', filename='blur.js') }}"></script>
{% endblock %}