{% extends "base.html" %}

{% block content %}
    <h1>Hello</h1>
    <div>
        <img id="imgID" class="startingBlur" draggable="false" src="" height="500px" width="500px" oncontextmenu="return false;"></img>

        <button id="myButton" type="button" onclick="unblurStart()">Button!</button>
        <p id="demo"></p>
        <img id="testImage" class="startingBlur" draggable="false" src="../static/logos/playboy.png"> test</img>
    </div>
    <script src="{{ url_for('static', filename='blur.js') }}"></script>
    {% endblock %}
